---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for lang in site.langs %}
  <url>
    <loc>{{ site.url }}{{ '' if lang == 'cs' else lang + '/' }}</loc>
{%- for alt in site.langs %}
    <xhtml:link rel="alternate" hreflang="{{ alt }}" href="{{ site.url }}{{ '' if alt == 'cs' else alt + '/' }}"/>
{%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}"/>
  </url>
{%- endfor %}
</urlset>
